# Bot credentials
BOT_TOKEN=123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ
API_ID=12345
API_HASH=abcdef0123456789abcdef0123456789
OWNER_ID=123456789
SUDO_USERS=123456789,987654321

# MongoDB configuration
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/jotarobot
DB_NAME=jotarobot

# Bot customization
START_MESSAGE=Yare Yare Daze... I'm Jotaro Kujo Bot, here to keep your group in order. My Stand, Star Platinum, will help manage this group with precision and power.
HELP_MESSAGE=ORA ORA ORA! Here are my command abilities, use them wisely:
START_IMAGE_URL=https://i.imgur.com/ZkFMc6T.jpg
HELP_IMAGE_URL=https://i.imgur.com/8OZgEFh.jpg

# Support and update links
SUPPORT_CHAT_URL=https://t.me/JotaroBotSupport
UPDATE_CHANNEL_URL=https://t.me/JotaroBotUpdates
